@font-face {
  font-family: "CuprumBold";
  src: url(../fonts/CuprumBold.ttf);
}

@font-face {
  font-family: "CuprumRegular";
  src: url(../fonts/CuprumRegular.ttf);
}

@font-face {
  font-family: "CuprumItalic";
  src: url(../fonts/CuprumItalic.ttf);
}

@font-face {
  font-family: "PTSansRegular";
  src: url(../fonts/PTSansRegular.ttf);
}

@font-face {
  font-family: "PTSansBold";
  src: url(../fonts/PTSansBold.ttf);
}

/* шрифт Cuprum для IE */
@font-face {
    font-family: 'cuprumregular';
    src: url('../fonts/cuprumregular-webfont.woff2') format('woff2'),
         url('../fonts/cuprumregular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cuprumitalic';
    src: url('../fonts/cuprumitalic-webfont.woff2') format('woff2'),
         url('../fonts/cuprumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cuprumbold';
    src: url('../fonts/cuprumbold-webfont.woff2') format('woff2'),
         url('../fonts/cuprumbold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
  font-size: 16px;
  line-height: 16px;
  color: black;
  font-family: "CuprumRegular", "Arial", sans-serif;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.clearfix::after {
  display: block;
  content: "";
  clear: both;
}

.page-header {
  min-height: 320px;
  background-color: #f1f5f7;
}

.top-menu {
  min-height: 42px;
  background-color: #293449;
}

.logo {
  position: relative;
  display: inline-block;
  background-color: #ee3643;
  font-size: 24px;
  color: white;
  width: 220px;
  text-transform: uppercase;
  min-height: 17px;
  padding-top: 14px;
  padding-bottom: 11px;
  text-align: center;
}

.logo-footer {
  padding: 0;
}

.logo:hover {
  background-color: #ca2c37;
}

.logo::after {
  position: absolute;
  content: "";
  width: 220px;
  height: 5px;
  top: 42px;
  left: 0px;
  background-color: #b52933;
}

.logo-footer:after {
  top: 63px;
}

.logo:hover:after {
  background-color: #9a212a;
}

.logo a {
  color: white;
  text-decoration: none;
}

.search {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 221px;
  min-height: 42px;
  padding-left: 48px;
}

.search:hover,
.bookmarks:hover,
.basket:hover {
  background-color: #212a3a;
}

.search input {
  background-color: inherit;
  color: white;
  font-family: "CuprumRegular";
  font-size: 17px;
  line-height: 18px;
  margin: 11px 0;
  width: 220px;
  border: none;
}

.search::before {
  position: absolute;
  content: "";
  top: 12px;
  left: 17px;
  background-image: url(../img/icons/spritesheet.png);
  background-position: -206px -94px;
  width: 17px;
  height: 17px;
}

.order-block {
  width: 450px;
  display: inline-block;
  vertical-align: top;
  text-align: right;
}

.order-block a {
  color: white;
  text-decoration: none;
  vertical-align: middle;
  font-size: 17px;
  line-height: 18px;
}

.bookmarks, .make-order, .basket {
  display: inline-block;
  min-height: 18px;
  padding: 12px 0;
}

.bookmarks,
.basket {
  position: relative;
  width: 150px;
}

.bookmarks a {
  margin-right: 28px;
}

.bookmarks::before {
  position: absolute;
  content: "";
  width: 14px;
  height: 16px;
  top: 12px;
  left: 17px;
  background-image: url(../img/icons/spritesheet.png);
  background-position: -5px -31px;
}

.basket::before {
  position: absolute;
  content: "";
  width: 17px;
  height: 16px;
  top: 12px;
  left: 17px;
  background-image: url(../img/icons/spritesheet.png);
  background-position: -132px -5px;
}

.basket-active {
  background-color: #ee3643;
}

.basket a {
  margin-right: 31px;
}

.basket-active a {
  margin-right: 26px;
}

.make-order {
  width: 150px;
  background-color: #63a63e;
  text-align: center;
}

.shop-info {
  min-height: 158px;
}

.shop-description {
  display: inline-block;
  width: 290px;
  padding: 0 5px 5px;
  margin-right: 10px;
  margin-left: 0;
}

.shop-description p {
  width: 200px;
  padding: 10px;
  margin-top: 39px;
  margin-left: 37px;
  margin-bottom: 0;
  color: #ee3643;
  font-size: 16px;
  line-height: 23px;
  font-family: "CuprumItalic";
}

.shop-contacts {
  display: inline-block;
  margin-right: 10px;
  width: 310px;
  padding: 0 5px 5px;
  min-height: 153px;
  vertical-align: top;
}

.shop-telephone {
  position: relative;
  width: 184px;
  padding-right: 10px;
  padding-left: 71px;
  padding-top: 12px;
  padding-bottom: 10px;
  min-height: 18px;
  border: 3px white solid;
  margin-left: 5px;
  margin-top: 45px;
  margin-bottom: 5px;
  color: #ee3643;
  font-size: 21px;
  line-height: 18px;
}

.shop-telephone::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 12px;
  width: 19px;
  height: 19px;
  background-image: url(../img/icons/spritesheet.png);
  background-position: -159px -74px;
}

.shop-address {
  padding: 0 5px 5px;
  margin-top: 0;
  margin-left: 9px;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.user-block {
  display: inline-block;
  vertical-align: top;
  width: 300px;
}

.user-login, .user-reg {
  display: inline-block;
  background-color: white;
  min-height: 18px;
  margin-top: 46px;
  text-align: center;
  padding: 13px 0;
}

.user-login {
  position: relative;
  margin-left: 18px;
  margin-right: 10px;
  width: 73px;
  padding-left: 48px;
  text-align: left;
}

.user-login::before {
  position: absolute;
  content: "";
  background-image: url(../img/icons/spritesheet.png);
  background-position: -67px -99px;
  width: 20px;
  height: 17px;
  left: 14px;
  top: 14px;
}

.user-login a,
.user-reg a {
  color: black;
  font-size: 21px;
  line-height: 18px;
  text-decoration: none;
}

.user-reg {
  width: 150px;
}

.user-profile {
  margin-top: 46px;
  background-color: white;
  min-height: 45px;
}

.user-account {
  display: inline-block;
  vertical-align: top;
  width: 19px;
  margin: 13px 14px 11px 12px;
  height: 18px;
  background-image: url(../img/icons/spritesheet.png);
  background-position: -158px -121px;
}

.user-name {
  display: inline-block;
  vertical-align: top;
  width: 189px;
  min-height: 19px;
  padding: 13px 2px;
}

.user-name a {
  font-size: 21px;
  line-height: 18px;
  color: black;
  text-decoration: none;
}

.user-logout {
  display: inline-block;
  vertical-align: top;
  width: 21px;
  min-height: 17px;
  margin: 14px 0;
  margin-left: 28px;
  margin-bottom: 11px;
  background-image: url(../img/icons/spritesheet.png);
  background-position: -97px -99px;
}

.user-block ul {
  padding: 0 10px;
  margin-top: 7px;
}

.user-block li {
  list-style-type: none;
  display: inline-block;
}

.user-block li:first-child {
  position: relative;
  margin-left: 7px;
  padding-right: 34px;
}

.user-orders {
  color: #32425c;
  font-size: 16px;
  line-height: 18px;
}

.user-block li:first-child::after {
  position: absolute;
  content: "";
  width: 4px;
  height: 4px;
  left: 92px;
  bottom: 7px;
  background-color: #32425c;
  border-color: transparent;
  border-radius: 2px;
}

.shop-navigation {
  padding: 0;
  background-color: #32425c;
  min-height: 55px;
  border-bottom: 5px solid #293449;
}

.shop-navigation ul {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.shop-navigation li {
  display: inline-block;
  margin: 0;
}

.shop-navigation a {
  text-decoration: none;
  color: white;
  font-size: 17px;
  line-height: 17px;
}

.header-navigation li {
  padding: 19px 30px;
}

.header-navigation li:first-child {
  margin-left: 18px;
  padding: 19px 34px;
}

.header-navigation li:nth-child(3) {
  padding: 19px 29px;
}

.header-navigation li:last-child {
  padding: 19px 34px;;
}

.index-main {
  margin-top: 50px;
}

.index-main > section,
.index-main > div {
  padding: 10px;
}

.promo-block {
  width: 940px;
  min-height: 410px;
  margin-bottom: 31px;
}

.shop-feature {
  position: relative;
  float: right;
  width: 300px;
  min-height: 123px;
}

.shop-feature::before {
  content: "";
  position: absolute;
  background-image: url(../img/spritesheet-categories.png);
}

.shop-technics,
.shop-tackle {
  margin-left: 20px;
}

.shop-delivery,
.shop-sales {
  margin-top: 20px;
}

.shop-materials,
.shop-delivery {
  background-color: #f6b22d;
}

.shop-tackle {
  background-color: #4aafde;
}

.shop-technics {
  background-color: #cc79d1;
}

.shop-sales {
  background-color: #85d179;
}

.shop-materials::before {
  width: 44px;
  height: 65px;
  top: 30px;
  left: 213px;
  background-position: -93px -5px;
}

.shop-materials::after {
  position: absolute;
  content: "";
  background-image: url(../img/icons/spritesheet.png);
  bottom: 64px;
  right: 0px;
  width: 60px;
  height: 59px;
  background-position: -165px -5px;
}

.shop-tackle::before {
  width: 75px;
  height: 61px;
  top: 32px;
  left: 197px;
  background-position: -74px -80px;
}

.shop-technics::before {
  width: 78px;
  height: 62px;
  top: 30px;
  left: 191px;
  background-position: -147px -5px;
}

.shop-sales::before {
  width: 59px;
  height: 72px;
  top: 25px;
  left: 196px;
  background-position: -5px -80px;
}

.shop-delivery::before {
  width: 78px;
  height: 63px;
  top: 31px;
  left: 191px;
  background-position: -5px -5px;
}

.shop-feature h3 {
  font-size: 24px;
  line-height: 30px;
  font-family: "CuprumBold";
  font-weight: bold;
  color: white;
  margin-top: 20px;
  margin-left: 22px;
  margin-bottom: 0;
}

.shop-feature-link {
  width: 135px;
  min-height: 18px;
  padding: 11px 0 9px;
  text-align: center;
  margin-left: 23px;
  margin-top: 13px;
  border-radius: 2px;
  background-image: url(../img/opacity.png);
}

.shop-feature-link a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  text-transform: uppercase;
}

.slider-items {
  position: relative;
  float: left;
  margin-left: 0;
  margin-top: 20px;
  width: 620px;
  min-height: 266px;
}

.slide-perforator {
  background-image: url(../img/slides/perforators.jpg);
}

.slide-drill {
  background-image: url(../img/slides/drills.jpg);
}

.invisible {
  display: none;
}

.slider-items > button {
  display: block;
  width: 22px;
  height: 40px;
  margin-top: -92px;
  border: none;
  cursor: pointer;
}

button.prev-slide {
  float: left;
  background: url(../img/icons/spritesheet.png) no-repeat;
  background-position: -100px -5px;
  margin-left: 25px;
}

button.next-slide {
  float: right;
  background: url(../img/icons/spritesheet.png) no-repeat;
  background-position: -68px -5px;
  margin-right: 20px;
}

.slider-items h2 {
  font-size: 36px;
  line-height: 30px;
  color: white;
  font-weight: bold;
  font-family: "CuprumBold";
  text-transform: uppercase;
  margin-left: 24px;
  margin-top: 25px;
  padding-bottom: 5px;
  padding-right: 15px;
  margin-bottom: 0;
}

.slider-items p {
  font-family: "PTSansRegular";
  color: white;
  font-size: 18px;
  line-height: 24px;
  margin-left: 24px;
  margin-top: 0;
  margin-bottom: 107px;
  padding-bottom: 15px;
}

.button {
  background-color: #ee3643;
  min-height: 18px;
  padding: 10px 0;
  text-align: center;
  border-radius: 2px;
}

.slider-items .button {
  width: 195px;
  margin-left: 25px;
}

.slider-indicator {
  position: absolute;
  display: inline-block;
  bottom: 33px;
  left: 295px;
}

.slider-indicator input {
  display: none;
}

.slider-indicator input + label::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background-image: url(../img/slides/slider-indicator.png);
  margin-right: 6px;
  cursor: pointer;
}

.slider-indicator input:checked + label::before {
  background-image: url(../img/slides/slider-indicator-checked.png);
}

.button a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "CuprumRegular";
  font-size: 14px;
  line-height: 18px;
}

.popular {
  width: 940px;
  min-height: 867px;
  margin-bottom: 45px;
}

.popular-things h3 {
  font-size: 30px;
  line-height: 30px;
  margin-top: 30px;
  margin-left: 28px;
  font-family: "CuprumRegular";
  color: #32425c;
  text-transform: uppercase;
  float: left;
}

.popular-things {
  min-height: 89px;
  background-color: #f7f3ec;
  margin-bottom: 20px;
}

.popular-things .button {
  width: 253px;
  float: right;
  margin-top: 25px;
  margin-right: 24px;
}

.popular-items {
  margin-left: 0;
  min-height: 318px;
  margin-bottom: 21px;
}

.popular-items article,
.catalog-items-list article {
  /* общая ширина * высота без границы 316х218 */
  display: inline-block;
  width: 214px;
  min-height: 312px;
  padding: 2px;
  border: 1px solid #e5e5e5;
  vertical-align: top;
  margin-right: 20px;
}

.popular-items article:last-child,
.catalog-items-list article:nth-child(3n) {
  margin-right: 0;
}

.item-popular-new {
  position: relative;
}

.item-popular-new::after {
  position: absolute;
  content: "";
  right: -2px;
  bottom: 258px;
  width: 60px;
  height: 59px;
  background-image: url(../img/icons/spritesheet.png);
  background-position: -165px -5px;
}

.item-picture {
  width: 210px;
  min-height: 170px;
  padding: 2px;
}

.item-name {
  font-family: "PTSansBold";
  color: black;
  text-align: center;
  width: 160px;
  padding: 2px 3px 3px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 9px;
}

.item-old-price {
  font-family: "PTSansBold";
  text-decoration: line-through;
  text-transform: uppercase;
  color: #999999;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  margin: 0 auto 10px;
  margin-left: 2px;
}

.button-price {
  width: 140px;
  margin: 0 auto;
  margin-left: 40px;
  position: relative;
}

.popular-items span {
  margin-left: 1px;
}

/* вырезаем нижний правый угол */
.button-price::before {
  content: "";
  position: absolute;
  left: 122px;
  top: 20px;
  width: 0;
	height: 0;
  border-bottom: 19px solid white;
	border-left: 19px solid transparent;
}

/* вырезаем верхний правый угол */
.button-price::after {
  content: "";
  position: absolute;
  right: 0px;
  bottom: 20px;
  width: 0;
	height: 0;
	border-top: 19px solid white;
	border-left: 19px solid transparent;
}

.button-price a {
  font-family: "PTSansBold";
  color: white;
  font-size: 17px;
  line-height: 18px;
  margin-left: -3px;
}

.manufacturers h3 {
  margin-left: 24px;
}

.popular-manufacturers {
  width: 940px;
  min-height: 310px;
  padding-bottom: 10px;
}

.popular-manufacturers article {
  display: inline-block;
  width: 208px;
  min-height: 133px;
  line-height: 130px;
  padding: 5px;
  border: 1px solid #e5e5e5;
  margin-right: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.popular-manufacturers article:nth-child(4),
.popular-manufacturers article:last-child {
  margin-right: 0;
}

.popular-manufacturers img {
  vertical-align: middle;
}

.services {
  background-color: #f2f6f8;
  min-height: 502px;
  margin-bottom: 40px;
}

.services .container {
  width: 1000px;
}

.services h3,
.services p,
.services .services-select {
  margin-left: 30px;
}

.services h3 {
  margin-top: 58px;
  margin-bottom: 0;
  font-size: 30px;
  line-height: 24px;
  font-family: "CuprumRegular";
  color: black;
  text-transform: uppercase;
}

.services p {
  font-family: "PTSansRegular";
  font-size: 13px;
  line-height: 24px;
  width: 470px;
  padding: 10px 10px 10px 0;
  margin-top: 18px;
  margin-bottom: 57px;
}

.services h2 {
  text-transform: uppercase;
  font-size: 36px;
  line-height: 24px;
  color: #32425c;
  font-family: "CuprumRegular";
}

.services-select {
  min-height: 264px;
}

.services-slider {
  position: relative;
  float: left;
  width: 240px;
  min-height: 182px;
  margin-right: 70px;
}

.services-slider::after {
  position: absolute;
  content: "";
  background-image: url(../img/services/shadow.png);
  width: 10px;
  height: 272px;
  right: 0px;
  bottom: -48px;
}

.services input {
  display: none;
}

.services label {
  display: inline-block;
  width: 208px;
  font-family: "CuprumBold";
  font-size: 21px;
  line-height: 30px;
  padding: 16px 10px;
  padding-left: 22px;
  background-color: #32425c;
  color: white;
  cursor: pointer;
}

.services input:checked + label {
  background-color: white;
  color: #32425c;
}

.services label:first-child {
  margin-bottom: 40px;
}

.service-description {
  width: 640px;
  float: left;
  min-height: 254px;
  padding: 10px;
  padding-top: 0;
}

.service-description h2 {
  margin-top: 7px;
  margin-bottom: 20px;
}

.service-description p {
  margin: 0;
}

.delivery {
  background: url(../img/services/delivery.png) right bottom no-repeat;
  background-position: 160px 26px;
}

.guarantee {
  background: url(../img/services/guarantee.png) right bottom no-repeat;
  background-position: 247px 4px;
}

.credit {
  background: url(../img/services/credit.png) right bottom no-repeat;
  background-position: 190px 2px;
}

.delivery p {
  width: 280px;
}

.guarantee p {
  width: 375px;
}

.credit p {
  width: 290px;
  margin-bottom: 18px;
}

.credit .button {
  width: 195px;
}

.company-info {
  padding: 10px;
  min-height: 476px;
}

.company-info p {
  font-family: "PTSansRegular";
  font-size: 13px;
  line-height: 24px;
}

.company-description {
  float: left;
  width: 540px;
  padding-bottom: 10px;
  padding-right: 10px;
}

.company-description h3 {
  line-height: normal;
  margin-top: 27px;
  margin-bottom: 23px;
}

.company-description p {
  width: 540px;
  margin-bottom: 20px;
}

.company-description .mans-shopping {
  margin-top: 5px;
  margin-bottom: 25px;
}

.company-description ul {
  padding-left: 36px;
}

.company-description li {
  position: relative;
  list-style-type: none;
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 20px;
}

.company-description li:before {
  content: "";
  left: -36px;
  top: 10px;
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: #ee3643;
}

.company-description .button {
  margin-top: 38px;
  width: 220px;
}

.company-contacts {
  float: right;
  width: 300px;
}

.company-contacts h3 {
  line-height: 24px;
  margin-top: 32px;
  margin-bottom: 28px;
}

.company-contacts p {
  width: 200px;
  margin-bottom: 31px;
}

.company-contacts img {
  margin-bottom: 37px;
}

.button-contacts a {
  margin-left: 2px;
}

.main-footer {
  background-color: #32425c;
}

.footer-top {
  padding: 0;
  min-height: 67px;
  padding-bottom: 1px;
}

.main-footer li {
  margin-right: 59px;
  padding: 1px 0;
}

.main-footer li:first-child {
  margin-left: 0;
}

.main-footer li:last-child {
  margin-right: 0;
}

.logo-footer {
  display: inline-block;
  vertical-align: top;
  min-height: 30px;
  font-size: 30px;
  line-height: 30px;
  margin-right: 172px;
  margin-left: 0;
  padding-top: 18px;
  padding-bottom: 15px;
}

.main-footer .shop-navigation {
  border: none;
  vertical-align: top;
  min-height: 25px;
  display: inline-block;
}

.footer-top .shop-navigation {
  margin-top: 38px;
  width: 548px;
}

.footer-top-navigation a {
   font-size: 18px;
   line-height: 24px;
 }

.footer-mid {
  min-height: 118px;
  padding-bottom: 7px;
}

.footer-mid p {
  display: inline-block;
  padding: 3px;
  margin-top: 24px;
  color: white;
  font-size: 18px;
  line-height: 24px;
}

.footer-mid a {
  font-size: 18px;
  line-height: 24px;
}

.footer-mid .shop-navigation {
  width: 525px;
  margin-top: 27px;
  margin-left: 88px;
}

.items-navigation a {
  color: #ffd180;
}

.items-navigation li {
  margin-right: 59.5px;
}

.footer-contacts {
  background-color: #293449;
  min-height: 87px;
  padding: 10px;
}

.footer-contacts p {
  color: white;
  font-size: 16px;
  line-height: 18px;
  display: inline-block;
  vertical-align: top;
}

.shop-copyright {
  width: 225px;
  margin-top: 23px;
  margin-bottom: 0;
  margin-right: 155px;
  padding: 5px 5px 5px 0;
}

.social-networks {
  display: inline-block;
  vertical-align: top;
  width: 130px;
  padding: 5px;
  margin-top: 22px;
  margin-right: 110px;
  min-height: 40px;
}

.social-btn {
  display: inline-block;
  vertical-align: top;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin-right: 5px;
  background-color: #212a3a;
  text-align: center;
}

.social-btn:last-child {
  margin-right: 0;
}

.social-btn a {
  display: block;
  background-image: url(../img/icons/spritesheet.png);
}

.social-btn .social-btn-vk {
  margin: 14px 10px;
  width: 20px;
  height: 12px;
  background-position: -188px -121px;
}

.social-btn .social-btn-fb {
  margin: 0px 15px;
  margin-top: 10px;
  margin-bottom: 12px;
  width: 10px;
  height: 18px;
  background-position: -5px -62px;
}

.social-btn .social-btn-inst {
  margin: 11px;
  margin-left: 12px;
  width: 17px;
  height: 17px;
  background-position: -40px -99px;
}

.shop-feedback {
  display: inline-block;
}

.shop-feedback p {
  margin-top: 23px;
  padding: 5px;
}

.shop-feedback a {
  color: #ffd180;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
}

.shop-email {
  width: 135px;
  margin-right: 43px;
}

.shop-developer {
  width: 96px;
}

.email-popup,
.map-popup {
  padding: 0;
}

.email-popup {
  box-shadow: 0 20px 40px 0px rgba(0, 0, 0, 0.75);
  width: 620px;
  min-height: 423px;
  border-top: 7px solid #ee3643;
}

.email-container {
  width: 480px;
  margin: 0 auto;
}

.email-form {
  min-height: 264px;
  padding: 10px;
  margin-bottom: 24px;
}

.email-form p {
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 10px;
  margin-top: 0;
}

.email-name {
  margin-right: 20px;
}

.email-name,
.email-address {
  width: 220px;
  min-height: 64px;
  margin-top: 38px;
  margin-bottom: 17px;
  display: inline-block;
}

.email-form textarea {
  font-family: "PTSansRegular";
  font-size: 13px;
  line-height: 18px;
  color: #999999;
  border: 2px #d7dcde solid;
  border-radius: 2px;
}

.email-name textarea,
.email-address textarea {
  padding-left: 14px;
  padding-right: 4px;
  padding-top: 7px;
  padding-bottom: 9px;
}

.email-message {
  margin: 0 auto;
  width: 458px;
}

.email-message p {
  margin-top: 0;
}

.email-message textarea {
  padding-top: 8px;
  padding-bottom: 14px;
  padding-left: 14px;
  padding-right: 12px;
}

.email-send {
  width: 460px;
  padding: 37px 80px;
  background-color: #f1f1f1;
  min-height: 38px;
}

.email-send button {
  width: 460px;
  margin: 0 auto;
  color: white;
  text-transform: uppercase;
  font-family: "CuprumRegular";
  font-size: 14px;
  line-height: 18px;
  border: none;
}

.map-popup {
  box-shadow: 0 0 16px 2px rgba(0, 0, 0, 0.5);
  width: 940px;
  min-height: 446px;
  background-image: url(../img/map-spb.jpg);
}

.email-popup-close,
.map-popup-close,
.basket-popup-close {
  float: right;
  width: 21px;
  height: 21px;
  margin-top: 9px;
  margin-right: 9px;
  background-image: url(../img/icons/spritesheet.png);
  background-position: -134px -31px;
  cursor: pointer;
}

.catalog-category {
  width: 940px;
  min-height: 148px;
  margin-bottom: 20px;
  padding: 0 10px;
}

.breadcrumps {
  min-height: 59px;
}

.breadcrumps ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.breadcrumps li {
  position: relative;
  margin-left: 40px;
  display: inline-block;
  vertical-align: top;
}

.breadcrumps li:first-child {
  margin-left: 38px;
}

.breadcrumps li:last-child {
  margin-left: 43px;
}

.breadcrumps li::before {
  position: absolute;
  content: "";
  top: 3px;
  left: -23px;
  width: 8px;
  height: 12px;
  background-image: url(../img/icons/spritesheet.png);
  background-position: -188px -94px;
}

.breadcrumps a {
  font-family: "PTSansRegular";
  font-size: 13px;
  line-height: 18px;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}

.breadcrumps .home-page {
  width: 15px;
  min-height: 12px;
  background: url(../img/icons/spritesheet.png);
  background-position: -134px -77px;
  margin-top: 23px;
}

.breadcrumps ol,
.home-page {
  display: inline-block;
  vertical-align: top;
  margin-top: 21px;
}

.catalog-category-name {
  min-height: 29px;
  padding: 30px;
  padding-left: 28px;
  padding-top:29px;
  background-color: #f2f6f8;
}

.catalog-category-name h2 {
  font-size: 30px;
  line-height: 30px;
  font-family: "CuprumRegular";
  color: #32425c;
  text-transform: uppercase;
  margin: 0;
}

.catalog-main {
  width: 940px;
}

.filters {
  float: left;
  width: 220px;
}

.filter-header {
  min-height: 18px;
  padding: 10px;
  padding-left: 19px;
  background-color: #f7f3ec;
  border-radius: 2px;
}

.filter-header p {
  margin: 0;
  text-transform: uppercase;
  font-family: "PTSansRegular";
  font-size: 13px;
  line-height: 18px;
}

.filter-price {
  margin-bottom: 25px;
}

.filters h4 {
  text-transform: uppercase;
  font-family: "PTSansBold";
  font-size: 17px;
  line-height: 30px;
}

.filter-price h4 {
  margin-top: 14px;
  margin-bottom: 11px;
}

.filter-input {
  min-height: 80px;
  background-color: #f7f3ec;
  border-radius: 0 0 4px 4px;
}

.filter-input .filter-scale {
  display: inline-block;
  height: 2px;
  margin-top: 39px;
}

.filter-input .filter-active {
  width: 120px;
  background-color: #00ca74;
  margin-left: 40px;
  margin-right: 20px;
  position: relative;
}

.filter-input .filter-inactive {
  width: 20px;
  background-color: #d7dcde;
}

.filter-input .filter-active::before,
.filter-input .filter-active::after {
  position: absolute;
  content: "";
  width: 4px;
  height: 4px;
  border: 8px solid white;
  border-radius: 50%;
  background-color: #ababab;
  cursor: pointer;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  bottom: -9px;
}

.filter-input .filter-active::before {
  left: -20px;
}

.filter-input .filter-active::after {
  right: -20px;
}

.filter-range input,
.filter-range p {
  display: inline-block;
}

.filter-range input {
  width: 75px;
  border: none;
  border-radius: 2px;
  background-color: #f7f3ec;
  font-family: "PTSansRegular";
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  padding-bottom: 10px;
  padding-left: 12px;
  padding-top: 8px;
  padding-right: 8px;
  margin-top: 9px;
}

.filter-range p {
  margin: 0 10px;
  width: 10px;
}

.filter-manufacturer h4 {
  margin-top: 19px;
  margin-bottom: 14px;
}

.filter-manufacturer input {
  margin-bottom: 25px;
  display: none;
}

.filters label {
  font-family: "PTSansRegular";
  line-height: 20px;
  text-transform: uppercase;
  position: relative;
  display: block;
  margin-left: 35px;
  margin-bottom: 4px;
}

.filter-manufacturer label {
  font-size: 15px;
}

.filter-manufacturer input + label::before {
  position: absolute;
  content: "";
  width: 23px;
  height: 23px;
  left: -35px;
  top: -1px;
  background-image: url(../img/icons/spritesheet.png);
  background-position: -29px -31px;
  cursor: pointer;
}

.filter-manufacturer input:checked + label::before {
  width: 27px;
  background-position: -62px -55px;
}

.filter-power h4 {
  margin: 11px 0;
}

.filter-power input {
  margin-bottom: 25px;
  display: none;
}

.filter-power label {
  font-size: 14px;
}

.filter-power input + label::before {
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  left: -35px;
  top: -2px;
  background-image: url(../img/icons/spritesheet.png);
  background-position: -99px -55px;
  cursor: pointer;
}

.filter-power input:checked + label::before {
  background-position: -5px -90px;
}

.filters button {
  margin-top: 77px;
  width: 140px;
  font-family: "PTSansRegular";
  text-transform: uppercase;
  font-size: 13px;
  line-height: 18px;
  background-color: white;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  padding: 9px;
  cursor: pointer;
}

.catalog-items {
  float: right;
  width: 700px;
  margin-bottom: 60px;
}

.catalog-sort {
  width: 680px;
  min-height: 18px;
  padding: 10px;
  background-color: #f7f3ec;
  border-radius: 2px;
}

.catalog-sort p,
.catalog-sort a {
  display: inline-block;
  vertical-align: top;
  font-family: "PTSansRegular";
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.catalog-sort p {
  margin: 0 140px 0 9px;
}

.catalog-sort .sort-type {
  border: none;
  background-color: #f7f3ec;
  text-decoration: none;
  border-bottom: 1px dotted #ee3643;
  color: #acaaa5;
}

.catalog-sort a:nth-child(2) {
  margin-right: 70px;
}

.catalog-sort a:nth-child(3) {
  margin-right: 65px;
}

.catalog-sort a:nth-child(4) {
  margin-right: 46px;
}

.catalog-sort .sort-order {
  margin-top: 4px;
  width: 0;
	height: 0;
}

.catalog-sort .sort-type:hover {
  color: black;
  border-bottom: 1px solid #ee3643;
}

.catalog-sort .sort-type:active {
  color: #ee3643;
  border: none;
}

.catalog-sort .sort-order-by-asc {
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 10px solid #d3cfca;
  margin-right: 21px;
}

.catalog-sort .sort-order-by-desc {
  border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 10px solid #d3cfca;
}

.catalog-sort .sort-order-by-asc:hover {
  border-bottom: 10px solid black;
}

.catalog-sort .sort-order-by-asc:active {
  border-bottom: 10px solid #ee3643;
}

.catalog-sort .sort-order-by-desc:hover {
  border-top: 10px solid black;
}

.catalog-sort .sort-order-by-desc:active {
  border-top: 10px solid #ee3643;
}

.catalog-items-list {
  margin-bottom: 52px;
}

.catalog-items-list article {
  margin-top: 20px;
}

.catalog-items-list article:nth-child(3),
.catalog-items-list article:nth-child(5),
.catalog-items-list article:nth-child(7) {
  position: relative;
}

.catalog-items-list article:nth-child(3)::after,
.catalog-items-list article:nth-child(5)::after,
.catalog-items-list article:nth-child(7)::after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 257px;
  width: 60px;
  height: 59px;
  background-image: url(../img/icons/spritesheet.png);
  background-position: -165px -5px;
}

.catalog-items-pages a {
  display: inline-block;
  width: 14px;
  padding: 9px 11px;
  text-decoration: none;
  text-align: center;
  font-family: "PTSansRegular";
  font-size: 13px;
  line-height: 18px;
  margin-right: 6px;
  border: 1px #e5e5e5 solid;
  border-radius: 2px;
  color: black;
}

.catalog-items-pages .page-current {
  background-color: #ee3643;
  color: white;
  border: 1px #ee3643 solid;
}

.catalog-items-pages .page-next {
  width: 116px;
  text-transform: uppercase;
}

.catalog-category-about {
  background-color: #f2f6f8;
}

.catalog-category-about .container {
  padding: 10px;
  width: 940px;
  min-height: 241px;
}

.catalog-category-about h2 {
  margin-top: 58px;
  margin-bottom: 29px;
  font-size: 30px;
  line-height: 24px;
  font-family: "CuprumRegular";
  color: black;
  text-transform: uppercase;
}

.catalog-category-about p {
  font-family: "PTSansRegular";
  font-size: 13px;
  line-height: 24px;
}

.basket-add {
  box-shadow: 0 20px 40px 0px rgba(0, 0, 0, 0.75);
  min-height: 275px;
  width: 620px;
  border-top: #ee3643 7px solid;
  padding: 0;
}

.basket-message {
  min-height: 18px;
  padding-top: 61px;
  padding-bottom: 65px;
  text-align: center;
}

.basket-message h2 {
  position: relative;
  width: 315px;
  padding: 10px;
  font-size: 30px;
  line-height: 18px;
  font-family: "CuprumRegular";
  color: black;
  margin: 0;
  margin-left: 169px;
  vertical-align: middle;
}

.basket-message h2::before {
  position: absolute;
  content: "";
  width: 60px;
  height: 60px;
  border: transparent solid;
  border-radius: 30px;
  background-color: #63a63e;
  bottom: -14px;
  left: -90px;
  background-image: url(../img/icon-basket-added.png);
  background-position: 13px 16px;
  background-repeat: no-repeat;
}

.basket-options {
  min-height: 112px;
  background-color: #f1f1f1;
}

.basket-options .button {
  display: inline-block;
  width: 220px;
  margin-right: 20px;
  margin-top: 37px;
}

.button-make-order {
  margin-left: 80px;
}

.button-continue-buy {
  background-color: white;
  color: black;
  font-family: "CuprumRegular";
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  min-height: 38px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.company-info h3 {
  font-size: 30px;
  font-family: "CuprumRegular";
  color: black;
  text-transform: uppercase;
}
