@font-face {
  font-family: "CuprumBold";
  src: url(../fonts/CuprumBold.ttf);
}

@font-face {
  font-family: "CuprumRegular";
  src: url(../fonts/CuprumRegular.ttf);
}

@font-face {
  font-family: "CuprumItalic";
  src: url(../fonts/CuprumItalic.ttf);
}

@font-face {
  font-family: "PTSansRegular";
  src: url(../fonts/PTSansRegular.ttf);
}

body {
  font-size: 16px;
  line-height: 16px;
  color: black;
  font-family: "CuprumRegular", "Arial", sans-serif;
}

.container {
  width: 960px;
  margin: 0 auto;
}

.clearfix::after {
  display: block;
  content: "";
  clear: both;
}

.page-header {
  min-height: 320px;
  background-color: #f1f5f7;
}

.top-menu {
  min-height: 42px;
  background-color: #293449;
}

.logo {
  display: inline-block;
  background-color: #ee3643;
  font-size: 21px;
  line-height: 42px; /* для вертикальной центровки текста */
  width: 220px;
  text-transform: uppercase;
  min-height: 42px;
  text-align: center;
  margin: 0 10px;
}

.logo a {
  color: white;
  text-decoration: none;
}

.top-menu input {
  background-color: inherit;
  color: white;
  margin-left: 30px;
  margin-right: 10px;
  font-family: "CuprumRegular";
  font-size: 17px;
  line-height: 18px;
  width: 210px;
}

.order-block {
  width: 456px;
  display: inline-block;
  vertical-align: top;
  text-align: right;
}

.order-block a {
  color: white;
  text-decoration: none;
  vertical-align: middle;
  font-size: 17px;
  line-height: 18px;
}

.bookmarks, .make-order, .basket {
  display: inline-block;
  min-height: 18px;
  padding: 12px 0;
}

.bookmarks {
  width: 140px;
  margin-right: 10px;
}

.bookmarks a {
  margin-right: 18px;
}

.basket {
  width: 140px;
  margin-right: 10px;
}

.basket a {
  margin-right: 21px;
}

.make-order {
  width: 150px;
  background-color: #63a63e;
  text-align: center;
}

.shop-info {
  min-height: 160px;
}

.shop-description {
  display: inline-block;
  min-height: 160px;
  width: 300px;
  margin: 0 10px;
}

.shop-description p {
  width: 200px;
  padding: 10px;
  margin-top: 40px;
  margin-left: 45px;
  margin-bottom: 0;
  color: #ee3643;
  font-size: 16px;
  line-height: 23px;
  font-family: "CuprumItalic";
}

.shop-contacts {
  display: inline-block;
  margin-right: 10px;
  width: 320px;
  min-height: 160px;
  vertical-align: top;
}

.shop-telephone {
  width: 245px;
  padding: 11px 10px;
  min-height: 18px;
  border: 3px white solid;
  margin-left: 10px;
  margin-top: 45px;
  margin-bottom: 5px;
  color: #ee3643;
  font-size: 21px;
  line-height: 18px;
}

.shop-address {
  margin-top: 0;
  margin-left: 10px;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.user-block {
  display: inline-block;
  min-height: 160px;
  vertical-align: top;
  width: 310px;
}

.user-login, .user-reg {
  display: inline-block;
  background-color: white;
  min-height: 18px;
  margin-top: 46px;
  text-align: center;
  padding: 13px 0;
}

.user-login {
  margin-left: 27px;
  margin-right: 10px;
  width: 121px;
}

.user-login a,
.user-reg a {
  color: black;
  font-size: 21px;
  line-height: 18px;
  text-decoration: none;
}

.user-reg {
  width: 150px;
}

.shop-navigation {
  width: 940px;
  background-color: #32425c;
  min-height: 55px;
  border-bottom: 5px solid #293449;
}

.shop-navigation ul {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  vertical-align: middle;
}

.shop-navigation li {
  display: inline-block;
  padding: 19px 10px;
  margin-right: 40px;
}

.shop-navigation li:first-child {
  margin-left: 42px;
}

.shop-navigation a {
  text-decoration: none;
  color: white;
  font-size: 17px;
  line-height: 17px;

}

.slider-items h2 {
  font-size: 36px;
  line-height: 30px;
  color: white;
  font-weight: bold;
  font-family: "CuprumBold";
  text-transform: uppercase;
}

.services h2 {
  font-size: 36px;
  line-height: 24px;
  color: #32425c;
  font-family: "CuprumRegular";
}

.catalog-category-name h2 {
  font-size: 30px;
  line-height: 30px;
  font-family: "CuprumRegular";
  color: #32425c;
  text-transform: uppercase;
}

.catalog-category-about h2 {
  font-size: 30px;
  line-height: 24px;
  font-family: "CuprumRegular";
  color: black;
  text-transform: uppercase;
}

.basket-message h2 {
  font-size: 30px;
  line-height: 18px;
  font-family: "CuprumRegular";
  color: black;
}

.shop-feature h3 {
  font-size: 24px;
  line-height: 30px;
  font-family: "CuprumBold";
  font-weight: bold;
  color: white;
}

.popular h3 {
  font-size: 30px;
  line-height: 30px;
  font-family: "CuprumRegular";
  color: #32425c;
  text-transform: uppercase;
}

.services h3 {
  font-size: 30px;
  line-height: 24px;
  font-family: "CuprumRegular";
  color: black;
  text-transform: uppercase;
}

.company-info h3 {
  font-size: 30px;
  font-family: "CuprumRegular";
  color: black;
  text-transform: uppercase;
}

.company-description h3 {
  line-height: normal;
}

.company-contacts h3 {
  line-height: 24px;
}
